hr.hr2 {
    border:0px;
    width:80%;
    color:#F9F9F9;
    height: 1px;
    background-color:  #E9E9E9;
}
p.titulo01{
    font-family:lucida grande,tahoma,verdana,arial,sans-serif;
    font-size:14px;
    color:#A42A2A;
    font-weight: bold;
}
#cajaFondoGris {
    position:relative;
    float:left;
    /*background-color:#F9F9F9;*/
    width:987px;
    z-index:2;
}
#cajaIlustraciones {
    position:relative;
    margin-top:35px;
    padding:25px;
    float:left;
    width:250px;
    z-index:3000;
}
#lineaSepAyuda {
    position:relative;
    margin-top:60px;
    width: 5px;
    height:100%;
    overflow: hidden;
    float:left;
    background-image: url(/images/lineaSepV.gif);
    z-index:3001;
    background-repeat: repeat-y;
}
#cajaTextoAyuda {
    position:relative;
    margin-top:35px;
    padding:25px;
    float:left;
    width:605px;
    z-index:3002;

}
#cajaImgAyuda01 {
    width:250px;
    height:144px;
    padding-bottom:23px;
    background-image: url(/images/imgAyuda01.png);
    background-repeat: no-repeat;
}
#txtAyuda01 {
    padding:10px;
    float:left;

}
#cajaImgAyuda02 {
    width:250px;
    height:144px;
    padding-bottom:23px;
    background-image: url(/images/imgAyuda02.png);
    background-repeat: no-repeat;
}
#txtAyuda01 {
    padding:10px;
    float:left;

}
#cajaImgAyuda03 {
    width:250px;
    height:144px;
    padding-bottom:23px;
    background-image: url(/images/imgAyuda03.png);
    background-repeat: no-repeat;
}
#cajaImgAyuda04 {
    width:250px;
    height:144px;
    padding-bottom:23px;
    background-image: url(/images/imgAyudaAndroid.png);
    background-repeat: no-repeat;
}
#cajaImgAyuda05 {
    width:250px;
    height:144px;
    padding-bottom:23px;
    background-image: url(/images/imgAyudaIphone.png);
    background-repeat: no-repeat;
}
#cajaImgAyuda06 {
    width:250px;
    height:144px;
    padding-bottom:23px;
    background-image: url(/images/imgAyudaBlakberry.png);
    background-repeat: no-repeat;
}
#cajaImgAyuda06 {
    width:250px;
    height:144px;
    padding-bottom:23px;
    background-image: url(/images/imgAyudaSymbian.png);
    background-repeat: no-repeat;
}
a.estiloBlancoStrong02 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}
/*---------------END NUEVO O MODIFICADO-------------------- --------*/