@charset "utf-8";
/* CSS Document */

#manchaIzda {
    position:relative;
    float:left;
    width:490px;
    z-index:2;
    border-left: none;
}
#manchaDcha {
    position:relative;
    float:right;
    width:490px;
    z-index:3;
}

#colDetStreetr {
    position:relative;
    float:left;
    padding-left:23px;
    padding-right:20px;
    padding-top:23px;
    padding-bottom:23px;
    width:447px;
    z-index:2000;
}

.register{
	margin-left: 50px;
	margin-top: 50px;
	width: 382px;
}

.register input {
    width: 210px;
}

table tr{
    height: 35px;
}
